{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
{% if current_user.is_admin %}
<h2>Admin Dashboard</h2>
{% else %}
<h2>User Dashboard</h2>
{% endif %}

<p>Welcome, {{ current_user.username }}. You have {% if current_user.is_admin %}admin{% else %}user{% endif %} access.</p>

{% if current_user.is_admin %}
<ul>
    <li><a href="{{ url_for('main_bp.view_users') }}">Manage Users</a></li>
    <li><a href="{{ url_for('admin.add_museum') }}">Add Museums</a></li>
</ul>
{% else %}
<ul>
    <li><a href="{{ url_for('user.book_ticket') }}">Book Tickets</a></li>
    <li><a href="{{ url_for('user.view_tickets') }}">View Previous Tickets</a></li>
</ul>
{% endif %}

<a href="{{ url_for('main_bp.logout') }}">Logout</a>
{% endblock %}
